In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers, models
from keras.preprocessing.text import Tokenizer
from keras.utils import to_categorical

In [4]:
df=pd.read_fwf("pride_book.txt", header=None)

In [5]:
df.head()

                                                   0
0  The Project Gutenberg eBook of Pride and preju...
1  This eBook is for the use of anyone anywhere i...
2  most other parts of the world at no cost and w...
3  whatsoever. You may copy it, give it away or r...
4  of the Project Gutenberg License included with...

In [6]:
df.shape

(11886, 1)

In [7]:
x=df[0].values

In [15]:
x[:5]

array(['The Project Gutenberg eBook of Pride and prejudice, by Jane Austen',
       'This eBook is for the use of anyone anywhere in the United States and',
       'most other parts of the world at no cost and with almost no restrictions',
       'whatsoever. You may copy it, give it away or re-use it under the terms',
       'of the Project Gutenberg License included with this eBook or online at'],
      dtype=object)

In [16]:
tokenizer=Tokenizer(oov_token="nothing")

In [17]:
tokenizer.fit_on_texts(x)

In [20]:
l=len(tokenizer.word_index)+1

In [21]:
x=tokenizer.texts_to_sequences(x)

In [23]:
x[:5]

[[2, 183, 164, 1031, 4, 306, 5, 976, 31, 74, 727],
 [43, 1031, 25, 23, 2, 516, 4, 561, 2717, 8, 2, 702, 780, 5],
 [96, 81, 1454, 4, 2, 219, 27, 44, 1614, 5, 22, 248, 44, 2718],
 [3365, 16, 90, 1092, 14, 135, 14, 141, 53, 1809, 516, 14, 390, 2, 379],
 [4, 2, 183, 164, 809, 2013, 22, 43, 1031, 53, 2014, 27]]